#img1 {
  height: 700px;
  width: 600px;
  position: absolute; top: 80px; left: 650px;
  border: 3px solid gray ;
  
}
body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
  }
table, table td, table th{
    border: 1px solid #cccccc;
  }
  td {
    height: 80px;
    width: 400px;
    text-align: center;
    vertical-align: middle;
  }
  .border{
    border-width: 3px;
    border-style: double;
    border-color: #cccccc;
    display: inline;
    border-radius: 5px 5px;
    
  }
  
  a {
    position: absolute; top: 23px; left: 20px;
    text-decoration: none;
    padding: 5px 16px;
    background-color: antiquewhite;
    border-radius: 15px;
    border: 3px solid black ;
  }
  .big1 {
    font-size: larger;
    max-width: 600px;
  }
  .h2 {
    padding-left: 250px;
    }
  #position {
    font-size: larger;
    padding-left: 20px;
  }
  
  