body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    
    

}
table, table td, table th{
    border: 1px solid #cccccc;
  }
  td {
    height: 80px;
    width: 400px;
    text-align: center;
    vertical-align: middle;
  }
  .border{
    border-width: 3px;
    border-style: double;
    border-color: #cccccc;
    display: inline;
    border-radius: 5px 5px;
    
  }
  
  
  